.formation-football {
    display: grid;
    grid-template-areas: 
      ".     gk    gk    ."
      "dl    dc1   dc2   dr"
      ".     md    mc    ."
      ".     mo    .    ."
      "ag    .     .     ad"
      ".     at    .    ."
      "sub1  sub2  sub3  sub4"
      "sub5  .     .     .";
  }
  
  .formation-football [data-position="goalkeeper"] { grid-area: gk; }
  .formation-football [data-position="defender3"] { grid-area: dl; }
  .formation-football [data-position="defender1"] { grid-area: dc1; }
  .formation-football [data-position="defender2"] { grid-area: dc2; }
  .formation-football [data-position="defender4"] { grid-area: dr; }
  .formation-football [data-position="midfielder1"] { grid-area: md; }
  .formation-football [data-position="midfielder2"] { grid-area: mc; }
  .formation-football [data-position="midfielder3"] { grid-area: mo; }
  .formation-football [data-position="forward1"] { grid-area: ag; }
  .formation-football [data-position="forward2"] { grid-area: at; }
  .formation-football [data-position="forward3"] { grid-area: ad; }
  .formation-football [data-position="substitute1"] { grid-area: sub1; }
  .formation-football [data-position="substitute2"] { grid-area: sub2; }
  .formation-football [data-position="substitute3"] { grid-area: sub3; }
  .formation-football [data-position="substitute4"] { grid-area: sub4; }
  .formation-football [data-position="substitute5"] { grid-area: sub5; }

  .formation-rugby {
  display: grid;
  grid-template-areas: 
    ".     .    fb    ."
    "w14    c12    c13    w11"
    ".     fh10   sh9    ."
    "f6     f8    f7    ."
    ".     l4    l5    ."
    "p1    h2    .     p3"
    "sub1  sub2  sub3  sub4"
    "sub5  sub6  sub7  sub8";
}
  
  .formation-rugby [data-position="fullback"] { grid-area: fb; }
  .formation-rugby [data-position="wing1"] { grid-area: w14; }
  .formation-rugby [data-position="wing2"] { grid-area: w11; }
  .formation-rugby [data-position="center1"] { grid-area: c12; }
  .formation-rugby [data-position="center2"] { grid-area: c13; }
  .formation-rugby [data-position="flyhalf"] { grid-area: fh10; }
  .formation-rugby [data-position="scrumhalf"] { grid-area: sh9; }
  .formation-rugby [data-position="number8"] { grid-area: f8; }
  .formation-rugby [data-position="flanker1"] { grid-area: f7; }
  .formation-rugby [data-position="flanker2"] { grid-area: f6; }
  .formation-rugby [data-position="lock1"] { grid-area: l4; }
  .formation-rugby [data-position="lock2"] { grid-area: l5; }
  .formation-rugby [data-position="prop1"] { grid-area: p1; }
  .formation-rugby [data-position="prop2"] { grid-area: p3; }
  .formation-rugby [data-position="hooker"] { grid-area: h2; }
  .formation-rugby [data-position="substitute1"] { grid-area: sub1; }
  .formation-rugby [data-position="substitute2"] { grid-area: sub2; }
  .formation-rugby [data-position="substitute3"] { grid-area: sub3; }
  .formation-rugby [data-position="substitute4"] { grid-area: sub4; }
  .formation-rugby [data-position="substitute5"] { grid-area: sub5; }
  .formation-rugby [data-position="substitute6"] { grid-area: sub6; }
  .formation-rugby [data-position="substitute7"] { grid-area: sub7; }
  .formation-rugby [data-position="substitute8"] { grid-area: sub8; }

  .formation-hockey {
    display: grid;
    grid-template-areas: 
      "f1    f2    f3   ."
      "f4    f5    f6   ."
      "f7    f8    f9   ."
      "f10   f11   f12  ."
      ".     d1    d2   ."
      ".     d3    d4   ."
      ".     d5    d6   ."
      ".     d7    d8   ."
      ".     d9    d10  ."
      ".     d11   d12  ."
      ".     .    g1   ."
      ".     .    g2   ."
  
  }

  .formation-hockey [data-position="forward1"] { grid-area: f1; }
  .formation-hockey [data-position="forward2"] { grid-area: f2; }
  .formation-hockey [data-position="forward3"] { grid-area: f3; }
  .formation-hockey [data-position="forward4"] { grid-area: f4; }
  .formation-hockey [data-position="forward5"] { grid-area: f5; }
  .formation-hockey [data-position="forward6"] { grid-area: f6; }
  .formation-hockey [data-position="forward7"] { grid-area: f7; }
  .formation-hockey [data-position="forward8"] { grid-area: f8; }
  .formation-hockey [data-position="forward9"] { grid-area: f9; }
  .formation-hockey [data-position="forward10"] { grid-area: f10; }
  .formation-hockey [data-position="forward11"] { grid-area: f11; }
  .formation-hockey [data-position="forward12"] { grid-area: f12; } 
  .formation-hockey [data-position="defense1"] { grid-area: d1; }
  .formation-hockey [data-position="defense2"] { grid-area: d2; }
  .formation-hockey [data-position="defense3"] { grid-area: d3; }
  .formation-hockey [data-position="defense4"] { grid-area: d4; }
  .formation-hockey [data-position="defense5"] { grid-area: d5; }
  .formation-hockey [data-position="defense6"] { grid-area: d6; }   
  .formation-hockey [data-position="goalkeeper1"] { grid-area: g1; }
  .formation-hockey [data-position="goalkeeper2"] { grid-area: g2; }

  .formation-basketball {
    display: grid;
    grid-template-areas: 
      ".    pg    sg   ."
      "pf    .    .   sf"
      ".    c    .   ."
      ".   .   .  ."
      "sub1 sub2 sub3 ."
      ". sub4   sub5   ."
  } 

  .formation-basketball [data-position="point"] { grid-area: pg; }
  .formation-basketball [data-position="shooting"] { grid-area: sg; }
  .formation-basketball [data-position="small"] { grid-area: sf; }
  .formation-basketball [data-position="power"] { grid-area: pf; }
  .formation-basketball [data-position="center"] { grid-area: c; }
  .formation-basketball [data-position="substitute1"] { grid-area: sub1; }
  .formation-basketball [data-position="substitute2"] { grid-area: sub2; }
  .formation-basketball [data-position="substitute3"] { grid-area: sub3; }
  .formation-basketball [data-position="substitute4"] { grid-area: sub4; }
  .formation-basketball [data-position="substitute5"] { grid-area: sub5; }

